body {
	background-repeat: repeat-x;
	background-position: left top;
	background-color: #ffffff;
	text-align: center;
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
        
}

#header {
	float: none;
	clear: both;
	font-size: 0.75em;
	color: #ffffff;
	margin: 0px;
	margin-top: 0em;
	padding-top: .5em;
	padding-bottom: .5em;
	padding-left: 3em;
	margin-top: 0em;
	text-align: left;
	vertical-align: middle;
	background-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #dedede;
}

#header h1 {
	margin: 0px;
	padding-top: 0.4em;
	padding-bottom: 0.25em;
}
.stats_bar {
	padding-right: 3em;
	float: right;
}

.stats_bar a {
	color: #ffff00;
}

.stats_mostlyused {
	color: #ffff00;
	font-style: italic;
	font-weight: bold
}

.higlightedlemma {
        color: #ffff00;
}


.footer_articolo {
	font-size: 0.8em;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	color: #474836;
	border-color: #cccccc;
	border-style: solid;
	border-width: 1px;
	background-color: #EFEFEF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

#barra_ricerca {
	font-size: 0.8em;
	color: #ffffff;
	margin: 0px;
	padding: 0px;
	padding-left: 0px;
	padding-top: 5px;
	padding-bottom: 20px;
	text-align: center;
	background-repeat: repeat-x;
	background-position: left top;
	position: relative;
}

#loginDiv{
	font-size: 0.8em;
	color: #000000;
	margin: 0px;
	padding: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	background-repeat: repeat-x;
	background-position: left top;
	position: relative;
	z-index: 2;
	
}

#miniHome {
	font-size: 0.8em;
	color: #000000;
	margin: 0px;
	padding: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	background-repeat: repeat-x;
	background-position: left top;
	position: relative;
}

.miniHome a:hover {
    color: grey;   
}

#miniHomeTop {
	font-size: 1.0em;
	color: white;
	padding: 0px;
	margin-right: 35px;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	background-color: #424242;
	background-repeat: repeat-x;
	background-position: left top;
	position: relative;
}

#mini_footer1 {
	font-size: 0.8em;
	color: #000000;
	margin: 0px;
	padding: 0px;
	padding-left: 0px;
	padding-top: 25px;
	padding-bottom: 20px;
	text-align: center;
	background-repeat: repeat-x;
	background-position: left top;
	position: relative;
}

.FooterTable a, .FooterTable a:hover {
    color: grey;   
}

#chartAllCorpusContainer{
	font-size: 1.0em;
	color: #000000;
	margin: 0px;
	padding: 0px;
	padding-left: 0px;
	padding-top: 5px;
	padding-bottom: 0px;
	text-align: center;
	background-color: #000000;
	background-repeat: repeat-x;
	background-position: left top;
	position: relative;
}
.stats_translations {
        color: red;
        font-size: 0.8em;
        text-align: left;
        padding-top: 5px;
}


#barra_ricerca form {
	display: inline;
}


#barra_ricercaM input {
	color: #000000;
	border-style: solid;
	border-width: 1px;
	border-color: #cac2b0;
	background-color: #ffffff;
	padding: 0px 0px 12px 0px;
	padding-top: 0.3em;
	padding-bottom: 0.6em;
	vertical-align: middle;
	display: inline;
	width: 250px;
	font-family: arial;
	font-size: 12px;
	float: right;
}

#barra_ricerca input {
	color: #000000;
	border-style: solid;
	border-width: 1px;
	border-color: #cac2b0;
	background-color: #ffffff;
	padding: 0px 0px 12px 0px;
	padding-top: 0.3em;
	padding-bottom: 0.6em;
	vertical-align: middle;
	display: inline;
	width: 250px;
	font-family: arial;
	font-size: 12px;
	float: right;
}

#barra_ricerca input.as-button {
	width: 180px;
	-moz-box-shadow: inset 0 1px 2px #888;
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed
		), color-stop(1, #dfdfdf) );
	background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#ededed', endColorstr = '#dfdfdf' );
	background-color: #ededed;
	-moz-border-radius: 60x;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #777777;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #ffffff;
}

#barra_ricerca input.as-button:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf
		), color-stop(1, #ededed) );
	background: -moz-linear-gradient(center top, #dfdfdf 5%, #ededed 100%);
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#dfdfdf', endColorstr = '#ededed' );
	background-color: #dfdfdf;
}

#barra_ricerca input.as-button:active {
	position: relative;
	top: 1px;
}

#barra_ricerca .scelta_ricerca .input_noborder {
	border-style: solid;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#barra_ricerca .bottone {
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#barra_ricerca .bottone_link {
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding: 0em;
	margin: 0em;
	vertical-align: middle;
	display: inline;
}

#barra_ricerca .check {
	border-width: 0px;
	background-color: transparent;
}

#barra_ricerca .ico_ricerca_avanzata {
	margin-left: 10px;
	font-size: 0.8em;
}

#barra_ricerca .ico_ricerca_avanzata img {
	vertical-align: middle;
}

#barra_ricerca  a {
	color: #4f4f4f;
	/*	font-size: 0.8em;*/
	margin-left: 1em;
}

#barra_ricerca  a:hover {
	color: #CC3300;
	text-decoration: none;
}

#barra_ricerca  .scelta_ricerca {
	font-size: 0.9em;
	margin-left: 1em;
	vertical-align: middle;
	display: inline;
}

/********************************************************************
FOOTER
********************************************************************/
#mini_footer {
	vertical-align: bottom;
	float: none;
	font-size: 0.75em;
	color: #333333;
	margin: 0px;
	margin-top: 0em;
	padding-top: 0em;
	padding-bottom: 1em;
	padding-left: 3em;
	text-align: left;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #dedede;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #dedede;
}


#mini_footer ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	display: inline;
}

#mini_footer ul li {
	margin: 0px;
	margin-right: 1em;
	padding: 0px;
	list-style-type: none;
	padding-bottom: 0.4em;
	padding-left: 0.2em;
	display: inline;
}

#result {
	font-size: 0.8em;
	padding-left: 5px;
    padding-right: 5px;
	padding-top: 0px;
	color: #474836;
	border-color: #cccccc;
	border-style: solid;
	border-width: 1px;
	background-color: #dedebb;
	text-align: center;
	width: 100%;
}

#info {
	font-size: 0.7em;
	padding-left: 5px;
    padding-right: 5px;
	padding-top: 0px;
	text-align: center;
    width: 98%;
}

#info inputtext {
	padding-top: 0px;
}

#info table td .edit_profile_link{
	color: red;
}

#result_table {
	font-size: 0.9em;
	padding-left: 15px;
	padding-top: 0px;
	text-align: left;
	z-index: 1;
}

#result_table img {
	border-color: #cccccc;
	padding-right: 15px;
	float: left;
	width: 200px;
}

.res_counter {
	width: 10%;
	text-align: right;
	padding-right: 15px;
}

.line_in_page {
	font-style: italic;
	text-align: left;
	padding-right: 15px;
}

.highlight {
	background-color: #FFFF66;
	color: #000000;
	/*	font-style: italic; */
	font-weight: bold
}

.headerTabBooks {
	background-color: #000000;
	color: #FFFF66;
	/*	font-style: italic; */
	font-weight: bold
}

.snip_highlight {
	background-color: #FFFF66;
	color: red;
	/*	font-style: italic; */
	font-weight: bold
}

.msg_highlight {
	color: red;
	/*	font-style: italic; */
	font-weight: bold
}

.booklink a {
	font-style: italic;
}

#mask {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9000;
	background-color: #000;
	display: none;
}


#boxes .window {
	position: absolute;
	left: 0;
	top: 0;
	width: 95%;
	height: 70%;
	display: none;
	z-index: 9999;
	padding: 20px;
}

#boxes #dialog {
	width: 90%;
	height: 71%;
	padding: 10px;
	background-color: #ffffff;
}

#boxes .closeBox {
	padding-right: 15px;
	float: right;
	color: #ffff00;
}

#dialogContent {
	text-align: left;
	padding-right: 15px;
}

#box_lemma {
    position:absolute;:
    top: 10px;
    left: 10px;
    width: 49%;
}

#box_ethmology {
    position:relative;:
    top: 1px;
    left: 50%;
    width: 49%;
}

#box_syn {
    position:absolute;:
    top: 10px;
    left: 0px;
    width: 100%;
    margin-bottom: 10px;
}

#box_comb {
    position:absolute;:
    top: 10px;
    left: 0px;
    width: 100%;
    margin-bottom: 10px;
}

#box_con {
    position:relative;:
    top: 10px;
    left: 0px;
    width: 100%;
}

#box_con .bar {
    font-size: 0.8em;
    font-style: italic;
}

#box_con .conbar {
    background-color: #000;
    color: #ffffff;
    text-align: center;
    font-style: bold;
}


#box_lemma .lemmabar {
    background-color: #000;
    color: #ffffff;
    text-align: center;
    font-style: bold;
}

#box_lemma .bar {
    font-size: 0.8em;
    font-style: italic;
    text-align: left;    
}

#box_lemma .def {
    margin-left: 10px;
    font-size: 0.8em;
    text-align: left;    
}

#box_lemma .rule {
    margin-left: 10px;
    font-size: 0.8em;
    margin-bottom: 10px;
}

#box_ethmology .ethmobar {
    background-color: #000;
    color: #ffffff;
    text-align: center;
    font-style: bold;
}

#box_ethmology .subbar {
    background-color: #848484;
    color: #ffffff;
    text-align: center;
    font-style: bold;
}

#box_ethmology .bar {
    font-size: 0.8em;
    font-style: italic;
}

#box_ethmology .ethmo {
    margin-left: 10px;
    font-size: 0.8em;
    color: red;
    font-style: italic;
    margin-bottom: 10px;
}

#box_ethmology .rule {
    margin-left: 10px;
    font-size: 0.8em;
    margin-bottom: 10px;
}

#box_syn .synbar {
    background-color: #848484;
    color: #ffffff;
    text-align: center;
    font-style: bold;
     margin-top: 20px;
}

#box_syn .bar {
    font-size: 0.8em;
    font-style: italic;
}

#box_syn .syn {
    margin-left: 10px;
    font-size: 0.8em;
    color: green;
    font-style: italic;
    margin-bottom: 10px;
}

#box_comb .combbar {
    background-color: #848484;
    color: #ffffff;
    text-align: center;
    font-style: bold;
     margin-top: 20px;
    margin-bottom: 10px;
}

#maskMineDoc {
	position: absolute;
	vertical-align: middle;
	width: 60%;
	height: 60%;
	z-index: 9000;
	background-color: #000000;
    color: #ffffff;
	display: none;
}

#maskMineDocResult {
    margin-left: 10px;
    font-size: 0.8em;
    color: yellow;
    font-style: italic;
    margin-bottom: 10px;
    text-align: left;
}

#maskMineDocHeader {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 0.8em;
    color: white;
    font-style: italic;
    margin-bottom: 10px;
    background-color: #990000;
}

#maskMineDocFooter {
    font-size: 0.8em;
    color: white;
    text-align: right;
}

/* Mask major */


#maskMine {
	position: absolute;
	vertical-align: middle;
	width: 60%;
	height: 60%;
	z-index: 9000;
	background-color: #000000;
    color: #ffffff;
	display: none;
}

#maskMine a {
	color: #2a02fc;
}

#maskMineResultEng {
    margin-left: 10px;
    font-size: 0.8em;
    color: red;
    font-style: italic;
    margin-bottom: 15px;
    text-align: left;
}

#maskMineResultIta {
    margin-left: 10px;
    font-size: 0.8em;
    color: green;
    font-style: italic;
    margin-bottom: 15px;
    text-align: left;
}

#maskMineResultFra {
    margin-left: 10px;
    font-size: 0.8em;
    color: white;
    font-style: italic;
    margin-bottom: 10px;
    text-align: left;
}

#maskMineResultSwe {
    margin-left: 10px;
    font-size: 0.8em;
    color: yellow;
    font-style: italic;
    margin-bottom: 10px;
    text-align: left;
}

#maskMineHeader {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 0.8em;
    color: white;
    font-style: italic;
    margin-bottom: 10px;
    background-color: #990000;
}

#maskMineFooter {
    font-size: 0.8em;
    color: white;
    text-align: right;
}

#word_table {
	font-size: 0.8em;
	padding-left: 10px;
	padding-right: 0px;
	padding-top: 0px;
	color: #474836;
	border-color: #cccccc;
	border-style: solid;
	border-width: 1px;
	background-color: #dedebb;
	text-align: center;
	width: 1082px;	
}

#word_table table {
	width: 90%;
	border: 0;
	margin-right: 0px;
	margin-left: 0px;
}

#word_table table .labelH{
	text-align: center;
}

#word_table table .label{
	float: right;
}

#word_table table input {
	width: 129px;
}

#word_table table input readonly{
	color: red;
}

#word_table table .readonly{
	color: red;
}

#word_table table select {
	width: 200px;
}
/*	width: 1082px;	*/
#word_tableN {
	color: #474836;
	border-color: #cccccc;
	border-style: solid;
	border-width: 0px;
	font-size: 0.8em;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-align: center;
}
#word_tableN table {
	background-color: #dedebb;
}
#word_tableN table .label{
	width: 130px;
}
#word_tableN table input {
	width: 200px;
}
#word_tableN table select {
	width: 200px;
}

#word_tableN table th {
	background-color: #dedebb;
	text-align: left;
    color: white;
}
